[Unit]
Description=Greengrass Lite pre Fleet Provisioning Service
After=systemd-time-wait-sync.service
Before=ggl.core.ggconfigd.service
Before=ggl.gg_fleetprovisioning.service
ConditionPathExists=!/var/lib/greengrass/provisioned-cert

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
    default_iface=$(ip route | grep default | awk "{print \$5}" | head -n1); \
    mac_address=$(cat /sys/class/net/"$default_iface"/address | tr ":" "_"); \
    sed -i "s/<unique>/$mac_address/g" "/etc/greengrass/config.d/fleetprovisioning.yaml";'
Restart=on-failure
RestartSec=10s
StartLimitIntervalSec=300
StartLimitBurst=3
TimeoutSec=300
SuccessExitStatus=0 1 15
User=root
Group=root
RemainAfterExit=true

[Install]
WantedBy=greengrass-lite.target
