[Unit]
Description=Greengrass Lite Fleet Provisioning Service
After=ggl.core.ggconfigd.service
After=systemd-time-wait-sync.service
ConditionPathExists=!/var/lib/greengrass/provisioned-cert/certificate.pem.crt

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c '\
    sleep 10; \
    mkdir -p /var/lib/greengrass/provisioned-cert'
ExecStart=/usr/bin/fleet-provisioning
Restart=on-failure
RestartSec=10s
StartLimitIntervalSec=300
StartLimitBurst=3
TimeoutSec=300
SuccessExitStatus=0 1
User=root
Group=root
RemainAfterExit=true

[Install]
WantedBy=greengrass-lite.target
