[Unit]
Description=Greengrass Lite Fleet Provisioning Service
After=ggl.core.ggconfigd.service
Before=ggl.core.iotcored.service
After=systemd-time-wait-sync.service
# Only run if device is not already provisioned
ConditionPathExists=!/var/lib/greengrass/credentials/certificate.pem

[Service]
Type=oneshot
ExecStart=/usr/bin/fleet-provisioning
Restart=on-failure
RestartSec=10s
# try forever
TimeoutSec=0
User=root
Group=root
RemainAfterExit=true

[Install]
WantedBy=greengrass-lite.target
