---
main:
  dependencies:
    - "com.example.HelloWorldPython"
  lifecycle: {}
com.example.HelloWorldPython:
  configuration:
      rootPath: "/greengrass/v2"
      awsRegion: "${AWS_DEFAULT_REGION}"
  ComponentType: 'aws.greengrass.generic'
  ComponentVersion: '1.0.1'
  Lifecycle:
    Run: |
      python3 {artifacts:path}/hello_world.py
  Artifacts:
    - URI: "hello_world.py"
      Permission:
        Read: "OWNER"
        Execute: "OWNER"
