name: auto-backport

on:
  pull_request_target:
    branches:
      - master-next
    types: ["closed"]
permissions:
  contents: write
  pull-requests: write
jobs:
  backport:
    name: Backport pull request
    runs-on: ubuntu-22.04
    # Only run when pull request is merged and labeled 'backport'
    if: (github.event.pull_request.merged == true ) &&
        (contains(github.event.pull_request.labels.*.name, 'version-upgrade') || contains(github.event.pull_request.labels.*.name, 'auto-backport'))
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Create backport pull requests
        uses: korthout/backport-action@v4
        with:
          target_branches: kirkstone-next scarthgap-next whinlatter-next
          # copy all labels (backport labels are automatically skipped)
          copy_labels_pattern: .+
          github_token: ${{ secrets.BOT_CREDENTIAL }}
          conflict_resolution: draft_commit_conflicts
