name: auto-delete-merged-branches-with-delay
on: 
  pull_request:
    types: [closed]
  
jobs:
  auto-delete-merged-branches-with-delay:
    runs-on: ubuntu-latest
    if: | 
      contains(github.event.pull_request.labels.*.name, 'version-upgrade') ||
      contains(github.event.pull_request.labels.*.name, 'auto-created') 
    steps:
      - name: Sleep for 10 min
        run: sleep 10m
        shell: bash

      - name: delete branch
        uses: SvanBoxel/delete-merged-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_CREDENTIAL }}
          
