name: auto approve and enable auto-merge

on:
  pull_request:
    types: [synchronize]
    branches:
      - '*-next'
      
jobs:  
  auto-approve-and-merge:
    runs-on: ubuntu-latest
    name: auto approve and enable auto-merge     
    if: |
      github.event.review.state != 'approved' &&
      (github.event.label.name == 'auto-integrate' || github.event.label.name == 'version-upgrade' )
    steps:
      - name: Auto approve
        uses: juliangruber/approve-pull-request-action@v2.0.1
        with:
          github-token: ${{ secrets.BOT2_CREDENTIAL }}
          number: ${{ github.event.pull_request.number }}

      - name: Enable Pull Request Automerge
        uses: peter-evans/enable-pull-request-automerge@v2.2.0
        with:
          token: ${{ secrets.BOT2_CREDENTIAL }}
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: rebase


