name: yocto-check-layer

on:
  pull_request:
    branches:
      - '*-next'

jobs:
  yocto-check-layer:
    runs-on:
      group: meta-aws
      labels: meta-aws_ubuntu-latest_32-core
    steps:
      - name: get yocto release name
        id: get-yocto-release-name
        run: |
            release_name=$(echo ${{github.event.pull_request.base.ref}} | cut -d- -f1)
            # this is deprecated, but replacement does not seem to work now?
            echo "::set-output name=release_name::$release_name"
      - name: install required packages to run yocto-check-layer
        run: | 
          sudo apt-get -y install gawk wget git diffstat unzip texinfo gcc build-essential chrpath socat cpio python3 xz-utils zstd liblz4-tool locales
          echo "en_US.UTF-8 UTF-8" | sudo tee --append /etc/locale.gen
          sudo locale-gen
      - name: checkout meta-aws branch to test
        uses: actions/checkout@v3
        with:
          path: yocto_checklayer/meta-aws
      - name: checkout meta-oe
        uses: actions/checkout@v3
        with:
          repository: openembedded/meta-openembedded
          path: yocto_checklayer/meta-openembedded
          ref: ${{steps.get-yocto-release-name.outputs.release_name}}
      - name: checkout poky
        run: |
          cd yocto_checklayer/
          git clone git://git.yoctoproject.org/poky --single-branch -b ${{steps.get-yocto-release-name.outputs.release_name}}
      - name: run yocto-check-layer
        run: |
          cd yocto_checklayer/
          source poky/oe-init-build-env build
          yocto-check-layer ../meta-aws/ --dependency ../meta-openembedded/meta-oe/ ../meta-openembedded/meta-python/ ../meta-openembedded/meta-multimedia ../meta-openembedded/meta-networking --output-log ycl-check_meta-aws.log --debug --no-auto --no-auto-dependency
      - name: save test result
        uses: actions/upload-artifact@v3.1.1
        with:
          name: ycl-check_meta-aws
          path: yocto_checklayer/build/ycl-check_meta-aws.log
