name: yocto-check-layer

on:
  pull_request:
    branches:
      - '*-next'

permissions:
  contents: read

jobs:
  yocto-check-layer:
    runs-on:
      group: meta-aws
      labels: meta-aws_ubuntu-latest_32-core
    steps:
      - name: get yocto release name
        id: get-yocto-release-name
        env:
          PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
        run: |
            release_name=$(echo "$PR_BASE_REF" | cut -d- -f1)
            echo "release_name=$release_name" >> $GITHUB_OUTPUT
      - name: install required packages to run yocto-check-layer
        run: |
          sudo apt-get -y install gawk wget git diffstat unzip texinfo gcc build-essential chrpath socat cpio python3 xz-utils zstd liblz4-tool locales
          echo "en_US.UTF-8 UTF-8" | sudo tee --append /etc/locale.gen
          sudo locale-gen
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: checkout meta-aws branch to test
        uses: actions/checkout@v3
        with:
          path: meta-aws
      - name: Checkout BitBake
        run: git clone https://git.openembedded.org/bitbake -b ${{steps.get-yocto-release-name.outputs.release_name}}
      - name: Initialize Build Environment
        run: |
          bitbake/bin/bitbake-setup --setting default top-dir-prefix /home/runner \
            init --non-interactive \
            ${{ github.workspace }}/meta-aws/.github/workflows/poky-for-yocto-check-layer.conf.json \
            poky distro/poky machine/qemux86-64
      - name: run yocto-check-layer
        run: |
          source ~/bitbake-builds/poky-for-yocto-check-layer-poky-distro_poky-machine_qemux86-64/build/init-build-env
          yocto-check-layer ${{ github.workspace }}/meta-aws --dependency ~/bitbake-builds/poky-for-yocto-check-layer-poky-distro_poky-machine_qemux86-64/layers/meta-openembedded/meta-oe/ ~/bitbake-builds/poky-for-yocto-check-layer-poky-distro_poky-machine_qemux86-64/layers/meta-openembedded/meta-python/ ~/bitbake-builds/poky-for-yocto-check-layer-poky-distro_poky-machine_qemux86-64/layers/meta-openembedded/meta-multimedia ~/bitbake-builds/poky-for-yocto-check-layer-poky-distro_poky-machine_qemux86-64/layers/meta-openembedded/meta-networking --output-log ycl-check_meta-aws.log --debug --no-auto --no-auto-dependency
      - name: save test result
        uses: actions/upload-artifact@v4
        with:
          name: ycl-check_meta-aws
          path: ~/bitbake-builds/poky-for-yocto-check-layer-poky-distro_poky-machine_qemux86-64/build/ycl-check_meta-aws.log
